<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ridealong.br" android:installLocation="auto" android:versionCode="0.1" android:versionName="Ancient">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="21" />
	<application android:label="Ride Along" android:icon="@drawable/icon"></application>
</manifest>